{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
                <div class="col-md-8 col-md-offset-4">
                    Gestion Client
                </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
